.containerInfor__tittle {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    text-shadow: 5px 5px 1px var(--black);
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}


.containerInfo__phrase {
    color: darkslateblue;
    background-image: url("/images/rectangle.png");
    padding: 20px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 3;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
}

.containerInfo__author {
    font-weight: lighter;
    text-align: center;
    padding: 10px 20px;
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    min-width: 260px;
    min-height: 111px;
    background-image: url("/images/halfcircle.png");
    background-repeat: round;
    background-size: cover;
       
}

.containerInfo__source{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.containerInfo__refreshbtn{
padding: 20px;
text-align: center;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
max-width: 400px;
}